/* Preview */

.preview {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
}

/* Logo */

.preview__logo {
    max-width: 100%;
    height: 50vmin;
    margin-bottom: 30px;
}

@media (prefers-reduced-motion: no-preference) {
    .preview__logo {
        animation: App-logo-spin infinite 10s linear .2s;
    }
}

/* Paragraph */

.preview__paragraph {
    padding: 70px 0 50px;
}

/* Link */

.preview__link {
    color: #c0aaaa;
    text-decoration: underline;
    text-decoration-color: #c0aaaa;
}

.preview__link:hover {
    text-decoration: none;
}

/* Keyframe */

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}