.wrapper{
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

.container{
	max-width: $maxWidth+px;
	margin: 0 auto;
	padding: 0px 10px;
}

.content{
	flex: 1 1 auto;
}

.btn{
	display: inline-block;
	transition: 0.3s;
}

.ibg{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	img{
		width: 0;
		height: 0;
		position: absolute;
		top: 0;
		left: 0;
		opacity: 0;
		visibility: hidden;
	}
}