// Импорт файлов <================================================================================>

@import '_nullstyle.scss';

@import '_mixins.scss';

// Переменные <================================================================================>

$maxWidth: 1280;
$md2: 767px;

// Основные <================================================================================>

@import '_ui.scss';
@import '_fonts.scss';

body{
	font-family: 'Lato', sans-serif;
	font-size: 20px;
}

// Header <================================================================================>

@import '_header.scss';

// Верстка содержимого <================================================================================>





// Верстка "footer" <================================================================================>

@import '_footer.scss';