.header {
	grid-area: hd;
}
.footer {
	grid-area: ft;
}
.content {
	grid-area: main;
}
.sidebar {
	grid-area: sd;
}

body {
	min-height: 100%;
	overflow: hidden;
}

.title {

}

.text {

}

.btn {
	
}