.header {
	grid-area: hd;
}
.footer {
	grid-area: ft;
}
.content {
	grid-area: main;
}
.sidebar {
	grid-area: sd;
}

.main-wrap {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	//display: grid;
	//grid-template-columns: repeat(9, 1fr);
	//grid-auto-rows: 100px 1fr 100px;
	//grid-template-areas:
    //  "hd hd hd hd   hd   hd   hd   hd   hd"
    //  "sd sd main main main main main main main"
    //  "ft ft ft ft   ft   ft   ft   ft   ft";
    

	// ↑ ↑ ↑ ↑ UNCOMMENT THIS ↑ ↑ ↑ ↑
}
