/*HEADER*/
.header{
	padding: 0 20px;
    &__row{
        display: grid;
		align-items: center;
		grid-auto-flow: column;
    }
	&__menu{
		margin-left: auto;
	}
	&__burger{
        display: none;
    }
}

$burgerColor: "...#yourColor...";
$backgroundListColor: "...#yourColor...";

// Media query > 768px
@media (max-width: $md2){
	.header__burger{
		display: block;
		position: relative;
		width: 30px;
		height: 20px;
		cursor: pointer;
		&::before,
		&::after{
			content: '';
			position: absolute;
			height: 2px;
			left: 0;
			background-color: $burgerColor;
			transition: all 0.3s ease 0s;
		}
		&::before{
			top: 0;
			left: 0;
			width: 100%;
		}
		&::after{
			width: 100%;
			bottom: 0;
			right: 0;
		}
		span{
			position: absolute;
			width: 100%;
			height: 2px;
			left: 0px;
			bottom: 9px;
			background-color: $burgerColor;
			transition: all 0.4s ease 0s;
		}
	}
	.header__burger.header-active::before{
		transform: rotate(-45deg);
		top: 9px;
		width: 100%;
	}
	.header__burger.header-active::after{
		transform: rotate(45deg);
		bottom: 9px;
		width: 100%;
	}
	.header__burger.header-active span{
		left: 100%;
		opacity: 0;
	}


	.header__menu{
		text-align: center;
		overflow-y: auto;

		position: fixed;
		left: 0;
		width: 100%;
		height: 100%;
		top: -100%;

		display: block;
		padding: 100px 0px 0px 50px;
		transition: all 0.3s ease 0s;

		background-color: $backgroundListColor;
	}
	.header__menu.header-active{
		top: 0;
	}
}