// Variables <================================================================================>

// Site bounding container width
$maxWidth: 1280;

// Font name
$fontName: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

// First media requires
$md1: 767px;

$focusInputColor: #000;

// Main styles <================================================================================>

@import '_reset.scss';
@import '_config.scss';
@import '_fonts.scss';

body {
  &.lock {
    overflow-y: hidden;
  }
}


// Header <================================================================================>

@import '_header.scss';

// Сontent <================================================================================>

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  color: #dc4444;
}


.preview {
  text-align: center;

  &__logo {
    height: 40vmin;
    pointer-events: none;
    @media (prefers-reduced-motion: no-preference) {
      animation: App-logo-spin infinite 20s linear;
    }
    margin-bottom: 30px;
  }

  &__header {
    background-color: rgba(0, 0, 0, 0.9);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
  }

  &__link {
    margin-top: 50px;
    color: #dc4444;
    text-decoration: underline;
    text-decoration-color: #dc4444;
    &:hover{
      text-decoration: none;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


// Footer <================================================================================>

@import '_footer.scss';